.main-body {
  height: 100%;
  width: 100%;

}
.log {
  text-align: right;
  width: 100%;
}
.logOut {
  cursor: pointer;
  background-color: red;
}
.welcome {
  display: flex;
  justify-content: center;
}
