.loginWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBox {
  margin-bottom: 12px;
}

.button {
  cursor: pointer;
}
.create {
  cursor: pointer;
  background-color: green;
  color: #fff;
}
